/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  /*font-family: font37915;*/
  font-family: 'Hanna', serif;
  color:#3E3E3B;
  box-sizing: border-box;
}
p{
    color:gray;
}
a{
    text-decoration: none !important;
}
html,body{
    margin:0;
    padding:0;
    height:100%;
}
.wrapper{
    margin:10px;
}

/*
footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:30px;
    margin-top:10px;
    background:#ccc;
}*/
.navbar{
    padding:5px;
}
.navbar-default {
    background-color: #4C586F;
    border-color: #4C586F;
    border:0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.navbar-default .navbar-brand{
  color: #EBECED;  
}
.nav_item{
    color:#EBECED !important;
}
.nav_item:hover{
    color:#A2AAB0 !important;
    transition: 0.8s all;
    -webkit-transition: 0.8s all;
    -moz-transition: 0.8s all;
    -o-transition: 0.8s all;
    -ms-transition: 0.8s all;
}
.profile_img{
    margin:5px auto;
    margin-left: 15px;
    width:50px;
}


/* 레이아웃 도우미 */
.align_center{
    display:flex;
    justify-content:center;
}
.padding{
    padding:5px;
}
.break_line{
    margin:10px auto;
    border:1px solid #EBECED;
    width:200px;
    height:1px;
}
.fixed_row{
    width:70%;
}
/* ****************************로그인 페이지 ********************* */
/* 로그인 페이지 id css 설정 */
#center_title{
    color:#3E3E3B;
    margin: 20px auto;
    text-align: center;
}

#login_btn{
    margin-bottom: 2px;
    
    /*background-color: #A2AAB0;*/
    border-color: #EBECED; 
}
#login_btn h6{
    color:#3E3E3B;
}
/* 로그인 페이지 class css 설정 */
.form-group{
    text-align: center;
}
.btn-default{
    
}

/* ****************************index 페이지 ********************* */
/*index페이지 id css 설정*/

.room_create_btn{
    margin:10px auto;
    color:#4C586F;
}
.room_create_btn:hover{
    color:#CBC5C1;
    transition: 0.8s all;
    -webkit-transition: 0.8s all;
    -moz-transition: 0.8s all;
    -o-transition: 0.8s all;
    -ms-transition: 0.8s all;
}
/*index페이지 class css 설정*/
.label{
    margin:5px;
    font-size:40%;
    vertical-align:middle;
}
.label-default{
    background-color: #4C586F;
}
.room_btn{
    color:#3E3E3B;
}
.room_btn:hover{
    color:#CBC5C1;
    transition: 0.8s all;
    -webkit-transition: 0.8s all;
    -moz-transition: 0.8s all;
    -o-transition: 0.8s all;
    -ms-transition: 0.8s all;
}

/* ****************************show 페이지 ********************* */
.member_block{
    border : 1px solid #EBECED;
    padding:5px;
}
.block{
    display: flex; 
    flex-flow: row wrap;
    justify-content:center;
    align-items:center;
}
.clipboard-btn{
    width:25px;
    margin:5px;
}
.kakao-link-btn{
}
.kakao-link-btn img{
    width:150px;
    display:block;
    margin:5px auto;
}
#placename{
    color:#A2AAB0;
}
#map{
    width:100%;
    height:300px; /*화면에 맞게 조정 */
}

/* **********************result.html******************* */
.category_bg{
    background:black;
}
.keyword_search{
    margin:20px 0;
}

@media screen and (min-width: 100px) {
    #login_container{
        width: 400px;
        padding:5px;
    }
    #index_container{
        width: 400px;
        padding:5px;
    }
}
@media screen and (min-width: 576px) {
    #login_container{
        width: 500px;
        border : 1px solid #CBC5C1;
        padding:5px;
    }
    #index_container{
        width: 400px;
        border : 1px solid #CBC5C1;
        padding:5px;
    }
}

/* Medium Devices (md) */
@media screen and (min-width: 768px) {
    #login_container{
        width: 700px;
        border : 1px solid #CBC5C1;
        padding:10px;
    }
    #index_container{
        width: 400px;
        border : 1px solid #CBC5C1;
        padding:5px;
    }
}

/* Large Devices (lg) */
@media screen and (min-width: 992px) {
}

/* Extra Large Devices (xl) */
@media screen and (min-width: 1200px) {
}